#container.parallax { 
    /* The image used */
    background-image: url("images/ludovic-gauthier-62746.jpg");
    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body {
    background-color: black;
}
h1.header {
   color: red;
   font-weight: 800;
}
h2.header2 {
   color: red;
   font-weight: 200;
}
p.tribute {
    color: silver;
}
.links {
    color: blue;
}
:hover {
    color: purple;
}
#container-fluid.1 {
    background-image: url("images/soldier.jpg");
    background-size: 200cm;
    height: 100cm;
    max-width: 100cm;
    opacity: 0.5;
}
ul.li {
    Display: block;
    Padding: 5px;
    Margin: 5px;
    Font-size: 6em;
    Font-family: 'Montserrat', sans-serif;
    Color: red;
    Background-color: silver;

}
// #container {
//     content:url("images/soldier.jpg");
//     height: 600px;
// }